absl-py==1.4.0
applicationinsights==0.11.9
atomicwrites==1.3.0
attrs==19.3.0
azure-core==1.24.0
azure-devops==5.1.0b6
azure-identity==1.10.0
azure-tokens-python==1.0.3
bcj-cffi==0.5.1
beautifulsoup4==4.9.3
bleach==3.1.5
Brotli==1.0.9
cachetools==5.1.0
certifi==2019.9.11
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
checksumdir==1.2.0
Click==7.0
colorama==0.4.3
contourpy==1.0.7
cryptography==37.0.2
cycler==0.11.0
docutils==0.16
edkrepo==3.1.0
Flask==2.0.3
fonttools==4.39.3
gitdb==4.0.9
GitPython==3.1.18
google-api-core==2.8.0
google-auth==2.6.6
googleapis-common-protos==1.56.1
html5lib==1.1
idgen-client==1.0.12
idna==2.8
ifwi-cli==1.9.1
ifwi-cli-qa-py38==1.10.183
imageio==2.16.1
importlib-resources==5.12.0
isodate==0.6.0
itsdangerous==2.1.1
jax==0.2.10
Jinja2==3.0.3
keyring==21.2.1
kiwisolver==1.4.4
lxml==4.7.1
MarkupSafe==2.1.1
matplotlib==3.7.1
ml-dtypes==0.1.0
more-itertools==7.2.0
msal==1.17.0
msal-extensions==1.0.0
msrest==0.6.10
multivolumefile==0.2.3
networkx==2.7.1
numpy==1.22.3
oauthlib==3.1.0
opencensus==0.9.0
opencensus-context==0.1.2
opencensus-ext-azure==1.1.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.1
pathvalidate==2.2.0
Pillow==9.0.1
pkginfo==1.5.0.1
pluggy==0.13.0
portalocker==2.4.0
protobuf==3.20.1
psutil==5.9.1
py==1.8.0
py7zr==0.17.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybcj==0.6.0
pycparser==2.21
pycryptodomex==3.14.1
Pygments==2.6.1
PyJWT==2.4.0
pylzma==0.5.0
pyparsing==2.4.7
pypiwin32==223
pyppmd==0.18.2
pytest==5.4.3
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.3.0
pywin32==304
pywin32-ctypes==0.2.0
pyzstd==0.15.2
readme-renderer==26.0
regex==2022.9.13
requests==2.27.1
requests-kerberos==0.12.0
requests-negotiate-sspi==0.5.2
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
rsa==4.8
scikit-image==0.19.2
scipy==1.8.0
six==1.13.0
smmap==5.0.0
soupsieve==2.2.1
texttable==1.6.4
tifffile==2022.3.16
tqdm==4.47.0
twine==3.2.0
typing_extensions==4.2.0
tzdata==2023.3
urllib3==1.26.9
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==2.0.3
winkerberos==0.8.0
xmltodict==0.12.0
Yapsy==1.12.2
zipp==3.15.0
